<div class="timeContainer">
<h1>Update Venue Details</h1>
<br>
<%= render partial: 'form' %>
<br>
<p><%= link_to 'Delete', @venue, method: :delete, :data => {:confirm => "Are you sure?"} %></p>
</div>
