* {

}

#head {
  height: 75px;
  background-color: rgb(250, 252, 252);
  border-bottom: 1px solid rgb(194, 194, 194);
  padding-left: 20px;
  margin-bottom: 20px;
}

nav {
  margin: 0 auto;
}

#logoContainer {
  text-decoration: none;
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  display: inline;
  color: rgb(47, 47, 47);
}

body {
  background-color: rgb(250, 252, 252);
}

#listContainer {
  width: 70%;
  margin: 0 auto;
}

.venueBox {
  height: 250px;
  border: 1px solid rgba(136, 136, 136, 0.1);
  border-radius: 10px;
  box-shadow: 2px 2px 5px #888888;
}
.venueBox:hover {
  box-shadow: 2px 2px 20px #888888;
}

.venueContents {
  width: 50%;
  display: inline;
}

.venuePic {
  height: 100%;
  width: 40%;
  display: inline;
  float: right;
  border-radius: 0 10px 10px 0;
  top:0;
  position: static;
}
