<!DOCTYPE html>
<html>
  <head>
    <title>happyhour</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="/assets/application.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

  </head>

  <body>

  <div id="head">
    <div id="logoContainer">happy hour.</div>
  </div>

  <nav></nav>


    <%= yield %>
  </body>
</html>
